.adminSectionContainer {
  width: 70%;
  padding: 10px;
}
.adminSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.adminSection > div {
  margin: 10px 0px;
}
.adminSection > .img {
  background-image: url("../images/dp.jpeg");
  border-radius: 10px;
  background-size: cover;
  width: 200px;
  height: 200px;
}
