.allReviewContainer {
  display: grid;
  margin: 20px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
}
.reviewBox {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(218, 208, 208);
  box-shadow: 0px 0px 4px black;
}
.reviewBox > div > h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.reviewBox > div {
  font-size: 20px;
}
.reviewBox > button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 4px black;
}
.reviewBox > button:hover {
  background-color: darkslategray;
  color: white;
}
