.candidateContainer {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.candidateContainer .top {
  display: flex;
  height: 60vh;
}
.candidateContainer .bottom {
  height: 60vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
