.candidateContainer {
  margin-top: 70vh;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.candidateContainer .top {
  display: flex;
  height: 80vh;
}
.candidateContainer .bottom {
  height: 80vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
