.infoContainer {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 1;
}
.infoContainer div {
  font-size: 2vh;
}
.infoContainer .pic {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-image: url("../images/dp.jpeg");
  background-size: cover;
}
