.ratingOuter {
  display: flex;
  padding: 2% 14%;
  align-items: center;
  width: 60%;
}
.ratingContainer {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 20px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 4px black;
}
.ratingContainer .firstStar {
  width: 4vh;
  height: 4vh;
  margin: 0px 20px;
  background-image: url("../images/star.png");
  background-size: contain;
}
.ratingContainer .secondStar {
  width: 4vh;
  height: 4vh;
  margin: 0px 20px;
  background-image: url("../images/starblank.png");
  background-size: contain;
}
