.reviewContainer {
  display: grid;
  padding: 10% 10%;
  width: 80%;
  height: 20%;
  grid-row-gap: 10%;
  grid-column-gap: 5%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.reviewContainer > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  outline: 1px solid black;
}
