.searchContainer {
  border-radius: 10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgb(58, 56, 56);
  font-size: 3vh;
  background-color: rgb(230, 224, 224);
  color: black;
}
.searchContainer input {
  width: 40vw;
  height: 5vh;
  border: none;
  font-size: 3vh;
  outline: none;
  padding: 0vh 1vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.searchContainer button {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 0px 1vw;
  margin: 0;
  overflow: hidden;
}
.searchContainer button img {
  height: 5vh;
  width: auto;
}
